#  this file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=XyRy XEngine APPManage Service

[Service]
Type=simple
ExecStart=/usr/local/bin/XEngine_APPManageService/XEngine_ManageServiceApp -l 2
WorkingDirectory=/usr/local/bin/XEngine_APPManageService/
Restart=on-abort

[Install]
WantedBy=multi-user.target

